<div class="calc_nav_main flex-row">
    <div class="nav_box_1 flex-col">
        <a href="calculator.html">
            <div class="nav_box_2 flex-col">
            <div class="calc_image-wrapper_1 flex-col">
                <img
                class="calc_label_1"
                referrerpolicy="no-referrer"
                src="https://lanhu-oss-2537-2.lanhuapp.com/FigmaDDSSlicePNGb8a17e578f08661cef8be97c39db57f6.png"
                />
            </div>
            </div>
        </a>
    </div>
    <div class="nav_box_3 flex-col">
        <a href="household.html">
            <div class="nav_box_2 flex-col">
                <div class="calc_image-wrapper_1 flex-col">
                    <img
                    class="calc_label_2"
                    referrerpolicy="no-referrer"
                    src="https://lanhu-oss-2537-2.lanhuapp.com/FigmaDDSSlicePNG797113141bf59698f459455033c1f5f9.png"
                    />
                </div>
            </div>
        </a>
    </div>
    <div class="nav_box_5 flex-col">
        <a href="coming-soon.html">
        <div class="nav_block_2 flex-col">
            <div class="calc_image-wrapper_2 flex-col">
            <img
                class="calc_label_3"
                referrerpolicy="no-referrer"
                src="https://lanhu-oss-2537-2.lanhuapp.com/FigmaDDSSlicePNGbd9fbb2b98c81c976eb8261b2b841451.png"
            />
            </div>
        </div>
        </a>
    </div>
    <div class="nav_box_6 flex-col">
        <a href="coming-soon.html">
        <div class="nav_block_3 flex-col">
            <div class="calc_image-wrapper_3 flex-col">
            <img
                class="calc_label_4"
                referrerpolicy="no-referrer"
                src="https://lanhu-oss-2537-2.lanhuapp.com/FigmaDDSSlicePNG5e1fcf5b89befca8b52354060e23ce1a.png"
            />
            </div>
        </div>
        </a>
    </div>
    <div class="nav_box_7 flex-col">
        <a href="result.html">
            <div class="nav_block_4 flex-col">
                <div class="calc_image-wrapper_4 flex-col">
                    <img
                    class="calc_label_5"
                    referrerpolicy="no-referrer"
                    src="https://lanhu-oss-2537-2.lanhuapp.com/FigmaDDSSlicePNG5380f19d43c719d142d1737b47a46a8a.png"
                    />
                </div>
            </div>
        </a>
    </div>
</div>

<style>
    .calc_nav_main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        margin-top: 20px;
    }

    .nav_box_1 {
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.15);
        height: 70px;
        width: 169px;
        border-radius: 35px;
    }

    .nav_box_2 {
        height: 70px;
        background: url(https://lanhu-oss-2537-2.lanhuapp.com/FigmaDDSSlicePNGd0f56da870bd0468226d45d82628a599.png)
        100% no-repeat;
        background-size: 100% 100%;
        width: 169px;
    }

    .calc_image-wrapper_1 {
        background-color: transparent;
        border-radius: 50%;
        height: 24px;
        width: 118px;
        margin: 35px 0 0 26px;
    }

    .calc_label_1 {
        width: 46px;
        height: 45px;
        margin: -24px 0 0 32px;
    }

    .nav_box_3 {
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.15);
        height: 70px;
        margin-left: 66px;
        width: 169px;
        border-radius: 35px;
    }

    .nav_box_4 {
        height: 70px;
        background: url(https://lanhu-oss-2537-2.lanhuapp.com/FigmaDDSSlicePNG862d7ea8982b43f79a8399d6892c2565.png)
        100% no-repeat;
        background-size: 100% 100%;
        width: 169px;
        position: relative;
    }

    .nav_block_1 {
        background-color: transparent;
        border-radius: 50%;
        width: 118px;
        height: 24px;
        margin: 35px 0 0 26px;
    }

    .calc_label_2 {
        width: 64px;
        height: 64px;
        margin: -30px 0 0 30px;
    }

    .nav_box_5 {
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.15);
        height: 70px;
        margin-left: 66px;
        width: 169px;
        border-radius: 35px;
    }

    .nav_block_1 {
        height: 70px;
        background: url(https://lanhu-oss-2537-2.lanhuapp.com/FigmaDDSSlicePNGd0f56da870bd0468226d45d82628a599.png)
        100% no-repeat;
        background-size: 100% 100%;
        width: 169px;
    }

    .calc_image-wrapper_2 {
        background-color: transparent;
        border-radius: 50%;
        height: 24px;
        width: 118px;
        margin: 35px 0 0 26px;
    }

    .calc_label_3 {
        width: 45px;
        height: 45px;
        margin: -22px 0 0 36px;
    }

    .nav_box_6 {
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.15);
        height: 70px;
        margin-left: 66px;
        width: 169px;
        border-radius: 35px;
    }

    .nav_block_3 {
        height: 70px;
        background: url(https://lanhu-oss-2537-2.lanhuapp.com/FigmaDDSSlicePNGd0f56da870bd0468226d45d82628a599.png)
        100% no-repeat;
        background-size: 100% 100%;
        width: 169px;
    }

    .calc_image-wrapper_3 {
        background-color: transparent;
        border-radius: 50%;
        height: 24px;
        width: 118px;
        margin: 35px 0 0 26px;
    }

    .calc_label_4 {
        width: 45px;
        height: 45px;
        margin: -22px 0 0 36px;
    }

    .nav_box_7 {
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.15);
        height: 70px;
        margin-left: 66px;
        width: 169px;
        border-radius: 35px;
    }

    .nav_block_4 {
        height: 70px;
        background: url(https://lanhu-oss-2537-2.lanhuapp.com/FigmaDDSSlicePNGd0f56da870bd0468226d45d82628a599.png)
        100% no-repeat;
        background-size: 100% 100%;
        width: 169px;
    }

    .calc_image-wrapper_4 {
        background-color: transparent;
        border-radius: 50%;
        height: 24px;
        width: 118px;
        margin: 35px 0 0 26px;
    }

    .calc_label_5 {
        width: 45px;
        height: 45px;
        margin: -22px 0 0 36px;
    }

    /* Animation */
    .calc_nav_main {
        animation: scaleIn 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
    }

    .nav_box_1, .nav_box_3, .nav_box_4, .nav_box_5, .nav_box_6, .nav_box_7 {
        animation: bounceIn 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
    }

    /* 工具按钮交互动效 */
    .nav_box_1, .nav_box_3, .nav_box_4, .nav_box_5, .nav_box_6, .nav_box_7 {
        transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        cursor: pointer;
    }

    .nav_box_1:hover, .nav_box_3:hover, .nav_box_4:hover, .nav_box_5:hover, .nav_box_6:hover, .nav_box_7:hover {
        transform: translateY(-8px) scale(1.05);
        box-shadow: 
            0 20px 40px rgba(0, 0, 0, 0.2),
            0 15px 30px rgba(0, 0, 0, 0.15),
            0 10px 20px rgba(0, 0, 0, 0.1);
    }

      /* 图标悬停旋转效果 */
      .calc_label_1, .calc_image_2, .calc_label_2, .calc_label_3, .calc_label_4, .calc_label_5 {
        transition: all 0.3s ease;
        cursor: pointer;
      }

      .calc_label_1:hover, .calc_image_2:hover, .calc_label_2:hover, .calc_label_3:hover, .calc_label_4:hover, .calc_label_5:hover {
        transform: rotate(15deg) scale(1.1);
        filter: drop-shadow(0 4px 8px rgba(61, 124, 74, 0.4));
      }
</style>