<!-- footer.html -->
<div class="footer_block flex-col">
  <div class="footer_box flex-row justify-between">
    <!--
    <div class="footer-text-group_1 flex-col justify-between">
      <span class="footer-text_1">About GreenPulse</span>
      <span class="footer-text_2">
        In order to help everyone understand<br />how to protect the environment.
      </span>
    </div>
    -->
    <div class="footer-text-group_2 flex-col justify-between">
      <span class="footer-text_3">Quick Links</span>
        <a href="calculator.html" class="footer-text_4">Travel Calculator</a>
        <a href="household.html" class="footer-text_5">Household Calculator</a>
        <a href="disclaimer.html" class="footer-text_5">Disclaimer</a>
    </div>  
  </div>
</div>

<style>
.footer_block {
background-color: rgba(51, 74, 51, 1);
height: 403px;
margin-bottom: 1px;
width: 100%;
}

.footer_box {
width: 619px;
height: 114px;
margin: 166px 0 87px 37px;
}

.footer-text-group_1 {
width: 341px;
height: 99px;
}

.footer-text_1 {
width: 228px;
height: 36px;
overflow-wrap: break-word;
color: rgba(229, 171, 109, 1);
font-size: 24px;
font-family: Poppins-ExtraBold;
font-weight: normal;
text-align: left;
white-space: nowrap;
line-height: 24px;
}

.footer-text_2 {
width: 400px;
height: 48px;
overflow-wrap: break-word;
color: rgba(255, 255, 255, 1);
font-size: 20px;
font-family: Poly-Regular;
font-weight: normal;
text-align: left;
margin-top: 15px;
}

.footer-text-group_2 {
width: 141px;
height: 114px;
}

.footer-text_3 {
width: 129px;
height: 36px;
overflow-wrap: break-word;
color: rgba(229, 171, 109, 1);
font-size: 24px;
font-family: Poppins-ExtraBold;
font-weight: normal;
text-align: left;
white-space: nowrap;
line-height: 24px;
}

.footer-text_4 {
width: 141px;
height: 24px;
overflow-wrap: break-word;
color: rgba(255, 255, 255, 1);
font-size: 20px;
font-family: Poly-Regular;
font-weight: normal;
text-align: left;
white-space: nowrap;
line-height: 20px;
margin-top: 15px;
}

.footer-text_5 {
width: 40px;
height: 24px;
overflow-wrap: break-word;
color: rgba(255, 255, 255, 1);
font-size: 20px;
font-family: Poly-Regular;
font-weight: normal;
text-align: left;
white-space: nowrap;
line-height: 20px;
margin-top: 15px;
}

/* Utility Classes */
.flex-col {
display: flex;
flex-direction: column;
}

.flex-row {
display: flex;
flex-direction: row;
}

.justify-between {
justify-content: space-between;
}
</style>